$color-white: #fff;
$color-light: #fff;
$color-muted: #9da5af;
$color-blue: #091e42;
$color-faint: #dbd8d7;

$break-points: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-break($break-point: md) {
  $width: map-get($break-points, $break-point);
  $break: if($width, $width, 768px);

  @media (min-width: $break) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
}

.clip {
  position: absolute;
  clip-path: circle(1px);
  color: transparent;
}

.main-header {
  position: sticky;
  top: 0;
  padding: 15px 20px 0;

  nav {
    display: flex;

    .tab-header {
      outline: none;
      border: none;
      border-bottom: 1px solid $color-faint;
      padding: 7px 15px;
      background-color: $color-faint;

      &.active {
        background-color: $color-blue;
        color: $color-light;
      }
    }
  }
}

.home-wrap {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: center;

  h1 {
    color: $color-blue;
    font-size: 1.5rem;
    padding-left: 20px;

    span {
      display: block;
      margin-top: 10px;
      font-size: 1rem;
    }
  }

  .home-image-wrap {
    position: relative;

    .home-unsplash-attr {
      position: absolute;
      bottom: 15px;
      left: 20px;
      color: $color-light;
      font-size: 0.9rem;

      a {
        text-decoration: underline;
      }
    }
  }
}
