$color-white: #fff;
$color-light: #fff;
$color-muted: #9da5af;
$color-blue: #091e42;
$color-green: #033003;
$color-faint: #dbd8d7;

$break-points: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-break($break-point: md) {
  $width: map-get($break-points, $break-point);
  $break: if($width, $width, 768px);

  @media (min-width: $break) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
}

.clip {
  position: absolute;
  clip-path: circle(1px);
  color: transparent;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 100vh;

  nav {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .tab-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      border-bottom: 1px solid $color-faint;
      background-color: $color-blue;
      color: $color-light;
      cursor: pointer;

      &.active {
        background-color: $color-green;
      }

      span {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-weight: bold;
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }
}

.main {
  padding-left: 45px;
}

.home-wrap {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: center;

  h1 {
    color: $color-blue;
    font-size: 1.5rem;
    padding-left: 20px;

    span {
      display: block;
      margin-top: 10px;
      font-size: 1rem;
    }
  }

  .home-image-wrap {
    position: relative;

    .home-unsplash-attr {
      position: absolute;
      bottom: 15px;
      left: 20px;
      color: $color-light;
      font-size: 0.9rem;

      a {
        text-decoration: underline;
      }
    }
  }
}

.menu-wrap {
  display: flex;
  height: 100vh;
  position: relative;

  .menu-aside {
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background: url(./assets/menu-aside-bg.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;

    .menu-link {
      flex: 0 0 10%;
      background-color: #fff;
      color: $color-blue;
      font-weight: bold;
      font-size: 0.7rem;
      border-radius: 8px;
      padding: 0 15px;
      cursor: pointer;

      &.active {
        color: #fff;
        background-color: #8b0303;
      }
    }
  }

  .menu-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/breakfast-corner.jpg);
    background-size: 100% 100%;

    .menu-display-wrap {
      color: $color-light;
      background-color: $color-blue;
      width: 100%;
      max-width: 400px;
      font-size: 0.7rem;
      padding-bottom: 15px;
      border-radius: 20px;

      .menu-poster-wrap {
        position: relative;
        width: 100%;

        .menu-item-poster {
          width: 100%;
          border-radius: 20px;
        }

        .menu-poster-credit-wrap {
          position: absolute;
          bottom: 5px;
          right: 0;
          width: 100%;
          padding-right: 10px;
          text-align: right;
          font-weight: bold;
          color: $color-blue;
          font-size: 0.6rem;
        }
      }

      .menu-title,
      .menu-price {
        font-weight: bold;
        padding-left: 15px;
        line-height: 1.2rem;
      }
    }
  }
}
